video {
  max-width: 100%;
  height: auto;
  display: center;
}

.jumbotron{
  position: relative;
  z-index:-101;
}

#video-background {
  position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    width:100%;
}

/* Mobile */

@media only screen and (max-width: 767px) {
    .mobile-hide{
        display: none !important;
    }

    video {
      text-align: center;
      margin: 0 auto;
    }

    #mobile {
        display:inline;
    }
    .text
    {
        text-align: center!important;
        size: 5px;
    }
}

/* Tablet */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .tablet-hide{
        display: none !important;
    }
    #mobile {
        display:inline;
    }

    video {
      margin: 0 auto;
      text-align: center;
    }

    .tablet
    {
        padding-top:32px!important;
        padding-bottom:32px!important;
    }
    .copyright
    {
        text-align: center!important;
    }
        .credits
    {
      position: fixed!important;
      display: bottom!important;
    }
}

/*Tablet Pro*/
@media only screen and (min-height: 992px) and (max-width: 1366px)
{
    .tablet-pro-hide{
        display: none !important;
    }

    video {
      margin: 0 auto;
      text-align: center;
    }

    #mobile {
        display:inline;
    }

    .tablet
    {
        padding-top:128px!important;
        padding-bottom:128px!important;
    }
    .copyright
    {
        text-align: center!important;
    }
    .text
    {
        font-size:23px!important;
        line-height: 30px;
    }
    .boxed-text
    {
        font-size:20px!important;
        line-height: 25px;
    }
        .credits
    {
      position: fixed!important;
      display: bottom!important;
    }
}

/* Small Monitor */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .small-hide{
        display: none !important;
    }
    video {
      margin: 0 auto;
      width: 400px;
      text-align: center;
    }
}

/* Large Monitor */

@media only screen and (min-width: 1200px) {
    .large-hide{
        display: none !important;
    }
}
